@model EditUserViewModel

@{
    ViewBag.Title = "تعديل المستخدم";
}
<div class="container float-right text-right">
    <h1 class="mb-5">تعديل المستخدم</h1>

    <form method="post" class="mt-3">
        <div asp-validation-summary="All" class="alert alert-danger"></div>

        <div class="form-group row">
            <div class="col-sm-10">
                <input asp-for="Id" disabled class="form-control text-right">
            </div>
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input asp-for="Email" class="form-control text-right">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input asp-for="UserName" class="form-control text-right">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <select dir="rtl" id="ddCountries" asp-for="CountryId" asp-items="@(new SelectList(ViewBag.Countries,"Id","Name",new{Model.CountryId}))" class="form-control"><option>أختر</option></select>
            </div>
            <label asp-for="CountryId" class="col-sm-2 col-form-label"></label>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <select dir="rtl" id="ddGovernorate" asp-for="GovernorateId" asp-items="@(new SelectList(ViewBag.Governorate,"Id","Name",new{Model.GovernorateId}))" class="form-control"></select>
            </div>
            <label asp-for="GovernorateId" class="col-sm-2 col-form-label"></label>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <select dir="rtl" id="ddCity" asp-for="CityId" asp-items="@(new SelectList(ViewBag.City,"Id","Name",new{Model.CityId}))" class="form-control"></select>
            </div>
            <label asp-for="CityId" class="col-sm-2 col-form-label"></label>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <input asp-for="PhoneNumber" class="form-control text-right">
            </div>
            <label asp-for="PhoneNumber" class="col-sm-2 col-form-label"></label>
        </div>

        <div class="form-group row">
            <div class="col-sm-10 ">
                <a asp-controller="Administraion" asp-action="ListUsers" class="btn btn-danger m-3 btn-lg">الغاء</a>
                <a asp-controller="Account" asp-action="ChangePassword" asp-route-id="@Model.Id" class="btn btn-success btn-lg" style="width: auto">تغير كلمه المرور</a>
                <button type="submit" class="btn btn-primary m-3 btn-lg">تعديل</button>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>ادوار المستخدم</h3>
            </div>
            <div class="card-body">
                @if (Model.Roles.Any())
                {
                    foreach (var role in Model.Roles)
                    {
                        <h5 class="card-title">@role</h5>
                    }
                }
                else
                {
                    <h5 class="card-title">لا يوجد</h5>
                }
            </div>
            <div class="card-footer">
                <a asp-action="ManageUserRoles" asp-route-userId="@Model.Id" style="width: auto" class="btn btn-primary btn-lg">
                    تعديل الادوار
                </a>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                <h3>الادوار الفرعية المرتبطة بالمستخدم</h3>
            </div>
            <div class="card-body">
                @if (Model.Claims.Any())
                {
                    foreach (var claim in Model.Claims)
                    {
                        <h5 class="card-title">@claim</h5>
                    }
                }
                else
                {
                    <h5 class="card-title">لا يوجد</h5>
                }
            </div>
            <div class="card-footer">
                <a asp-action="ManageUserClaims" asp-route-userId="@Model.Id"
                   style="width: auto" class="btn btn-primary btn-lg">
                    تعديل الادوار الفرعية
                </a>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script>
        $(function () {
            $("#ddCountries").change(function () {

                $.getJSON("/Admin/Account/FindGovernorates",
                    { id: $("#ddCountries").val() },
                    function (d) {
                        var row = "";
                        $("#ddGovernorate").empty();
                        $("#ddCity").empty();
                        row += "<option selected disabled >أختر</option>";
                        $.each(d,
                            function (i, v) {
                                row += "<option value=" + v.id + ">" + v.name + "</option>";
                            });
                        $("#ddGovernorate").html(row);
                    });
            });
            $("#ddGovernorate").change(function () {
                $.getJSON("/Admin/Account/Findcities",
                    { id: $("#ddGovernorate").val() },
                    function (d) {
                        var row = "";
                        $("#ddCity").empty();
                        row += "<option selected disabled >أختر</option>";
                        $.each(d,
                            function (i, v) {
                                row += "<option value=" + v.id + ">" + v.name + "</option>";
                            });
                        $("#ddCity").html(row);
                    });
            });
        });

    </script>
}

