@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "جميع المستخدمين";
}

<h2>جمع المستخدمين</h2>
@if (Model.Any())
{
    <a asp-controller="Account" asp-action="Register" class="btn btn-primary mb-3" style="width: auto">
        إضافة مستخدم جديد
    </a>
    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                User Id : @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <form asp-controller="Administraion" asp-action="DeleteUser" asp-route-id="@user.Id">

                    <button type="submit" id="@user.Id" class="btn btn-danger" style="display: none">
                        حذف
                    </button>
                    <button type="button" onclick="confirmDelete('@user.Id')" class="btn btn-danger">
                        حذف
                    </button>

                    <a asp-controller="Administraion" asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-primary">تعديل</a>

                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            لا يوجد مستخدمين
        </div>
        <div class="card-body">
            <h5 class="card-title">
                لإضافة مستحدم اضغط على اضافة
            </h5>
            <a asp-controller="Account" asp-action="Register" class="btn btn-primary">
                إضافه مستحدم جديد
            </a>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/confirmDelete.js"></script>
}

