@model IEnumerable<IdentityRole>

@inject IAuthorizationService authorizationService
@{
    ViewBag.Title = "Roles List";
}

<h1>جميع الادوار للمستخدمين</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width: auto"
       asp-controller="Administraion" asp-action="CreateRole">إنشاء دور جديد</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    @role.Name
                </h5>
            </div>

            <div class="card-footer">
                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">

                    @* @if ((await authorizationService.AuthorizeAsync(User, "EditPolePolicy")).Succeeded)*@

                    <button type="submit" id="@role.Id" class="btn btn-danger" style="display: none">
                        حذف
                    </button>
                    <button type="button" onclick="confirmDelete('@role.Id')" class="btn btn-danger">
                        حذف
                    </button>

                    <a class="btn btn-primary"
                       asp-controller="Administraion" asp-action="EditRole"
                       asp-route-id="@role.Id">تعديل</a>

                </form>

            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            لا يوجد اى ادوار للمستخدمين
        </div>
        <div class="card-body">
            <h5 class="card-title">
                استخدم الزر بالاسفل لانشاء دور جديد
            </h5>
            <a class="btn btn-primary" style="width: auto"
               asp-controller="Administraion" asp-action="CreateRole">
                إنشاء دور للمستخدم
            </a>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/confirmDelete.js"></script>
}
